mat-card {
  width: 40rem;
  height: 70rem;
  background-color: #b8bdb5;
}

.container {
  overflow: hidden;
  width: 30rem;
  min-height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 1rem;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
  font-weight: 700;
  text-align: center;
}

.sub-title {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.5rem;
}

.price {
  font-weight: 700;
  color: green;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}
