<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title class="title">
      {{ car()?.brand }}
    </mat-card-title>
    <mat-card-subtitle class="sub-title">
      {{ car()?.model }}
      <p class="price">${{ car()?.price }}</p>
    </mat-card-subtitle>
  </mat-card-header>
  <div class="container">
    <img
      [src]="car()?.images"
      [alt]="car()?.brand"
      width="100%"
      height="auto"
    />
  </div>
  <mat-card-content>
    <p>{{ car()?.description }}</p>
    <p><b>Mileage:</b> {{ car()?.distance }}km</p>
    <p><b>Color:</b> {{ car()?.color }}</p>
    <p><b>Type:</b> {{ car()?.type }}</p>
    <p><b>Year of Production:</b> {{ car()?.year }}</p>
    @if (!car()?.isNew) {
    <p>The state of the car is immaculate, however it is not new.</p>
    } @else {
    <p>The car hasn't been driven. It is yet to find it's perfect owner</p>
    }
    <p>
      <b>Selling from:</b> {{ car()?.location?.city }},
      {{ car()?.location?.country }}
    </p>
    <p><b>Doors:</b> {{ car()?.doors }}</p>
    <p><b>Seats:</b> {{ car()?.seats }}</p>
    <p><b>Transmission:</b> {{ car()?.transmission }}</p>
  </mat-card-content>
  <mat-card-actions class="flex-container">
    @if (car()?.fuelType == FuelType.Petrol) {
    <button mat-fab [matTooltip]="car()?.fuelType!">
      <mat-icon fontIcon="local_gas_station" />
    </button>
    } @else if (car()?.fuelType === FuelType.Electric) {
    <button mat-fab [matTooltip]="car()?.fuelType!">
      <mat-icon fontIcon="electric_car" />
    </button>
    } @else if (car()?.fuelType === FuelType.Diesel) {
    <button mat-fab [matTooltip]="car()?.fuelType!">
      <mat-icon fontIcon="local_gas_station" />
    </button>
    }
    <button mat-button>Buy</button>
  </mat-card-actions>
</mat-card>
