.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 1.5rem;
  flex-wrap: wrap;
}

mat-expansion-panel {
  background-color: darkgray;
  margin: 1rem;
}
