.vh {
  min-height: 100vh;
  place-content: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}

.opening-text {
  margin: 2rem;
  color: whitesmoke;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  color: whitesmoke;
}

.email {
  margin: 2rem;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem;
}

input {
  padding: 0.7rem;
  font-size: 1.2rem;
  border-radius: 2rem;
}
