h1 {
  text-align: center;
  margin: 2rem;
}

.description {
  margin: 3rem;
  font-size: 1.1rem;
  text-align: justify;
}

h2 {
  text-align: center;
  margin: 3rem;
}

.thank-you-text {
  margin: 4rem;
  text-align: center;
}
